li {
    color: skyblue;
    font-size: 30px;
}
div h2,p {
    color: mediumpurple;
    font-size: 30px;
}

.section-card {
     background-color: pink;
     border:2px solid black;
     margin-bottom:5px;
     border-radius:10px;
     padding: 20px;
}
.dhaka-h1{
    color: cadetblue;
}